.main1 {
    filter: blur(8px);
    position: relative;
}

.header {
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.tasks {
    font-size: 45px;
    color: #000000;
    margin-right: 25px;
    margin-left: 10px;
}

.lists {
    font-size: 45px;
    font-weight: lighter;
    color: #808080;
    margin-right: 65px;
}

.add-new-list {
    color: red;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main2 {
    position: absolute;
    bottom: 45%;
    right: 20px;
    left: 5px;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.middle {
    border: 1px solid black;
}